{% extends "learning_logs/base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ topic }}</div>

                <div class="card-body">
                    <p class="mb-4">Edit entry:</p>
                    
                    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
